@import "tailwindcss";

@theme{
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge --font-ovo: "Ovo", "serif";*/
  scrollbar-width: none;     /* Firefox */
}
/* 
        @keyframes scrollLine {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }

        .animate-scroll-line {
          animation: scrollLine 30s linear infinite;
        } */

/* .html{
  scroll-behavior: smooth;
} */


